doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    header
      .container-fluid
        .row
          .col-sm-6
            p Nom du panawiki
          .col-sm-6
            p Logo du panawiki
    Nav
      .container-fluid
        .row
          .col-sm-6
            p page
    Nav
      .container-fluid
        .row
          .col-sm-6
            p user
          .col-sm-6
            p edit
    section
      .container-fluid
        block content
    footer
      .container-fluid
        p Powered by panawiki
